.box {
  width: 150px;
  height: 100px;
  background: tomato;
  color: white;
  font-size: 30px;
  margin: 10px;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float-box {
  width: 100px;
  height: 100px;
  background: orange;
  margin: 10px;
  float: left;
}

.new-box {
  width: 250px;
  height: 250px;
  background: red;
}