.toggle {
  border: 2px solid black;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-sizing: border-box;
  transition: 1s;
}

.toggle.b2win {
  background: yellow;
  border-radius: 0px;
  transition: 1s;
}
