#root {
  height: 500px;
  width: 500px;
  background-color: linen;
  padding: 1rem;
}

h1 {
  text-align: center;
}

span {
  width: 100px;
}

button {
  margin: 10px 5px;
}

p {
  margin-bottom: 0;
}
