html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  box-sizing: border-box;
}
.main {
  width: 980px;
  padding: 20px;
  margin: 0 auto;
  background: lightgray;
}
.main-heading {
  text-align: center;
  font-size: 2rem;
}
section {
  margin: 20px 0;
  background: lightsteelblue;
}
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: blue;
}

/* 문제 1 */
.news-link {
  background: teal;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  box-sizing: border-box;
}
.news-item {
  background: yellowgreen;
  height: 100px;
  padding-left: 130px;
  position: relative;
}
.news-item-heading {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-item-brief {
  margin-top: 10px;
}
.news-item-thumbnail {
  width: 120px;
  position: absolute;
  left: 0;
  top: 10px;
}

/* 문제 2 */
.float-container {
  overflow: hidden;
}

.float-item {
  width: 50%;
  float: left;
}


.news-link2 {
  width: 100%;
}

/* 문제 3 */
.flex-container {
  background: yellowgreen;
  height: 600px;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.flex-item {
  background: tomato;
  border: 2px dashed red;
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 문제 4 */
.smile-face {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-image: url(./smile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  animation: move 2s infinite alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.smile-face:hover {
  animation-play-state: paused;
}

@keyframes move {

  0% {
    transform: translate(0);
    transform-origin: bottom 50%;
  }

  25%{
    transform: translate(200px, 0) rotate(90deg);
    transform-origin: bottom 50%;
  }

  50% {
    transform: translate(400px, 0) rotate(180deg);
    transform-origin: top 50%;
  }

  75% {
    transform: translate(600px, 0) rotate(270deg);
    transform-origin: bottom 50%;
  }
  100% {
    transform: translate(800px, 0) rotate(360deg);
    transform-origin: bottom 50%;
  }

}